form {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 20px;

    /* Input of the Last.fm username and Spotify playlist name. */
    .data-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 20px;

        /* All text input inside the section. */
        input[type=text] {
            width: 100%;
        }

        .data-input {
            display: flex;
            flex-direction: column;
            align-content: center;
            min-width: 300px;
        }
    }

    /* Type of import from Last.fm: Loved tracks, 30 days, 3 months, etc... */
    .lastfm-type-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5px;

        /* Type selectors. */
        button {
            min-width: 200px;
            min-height: 200px;
            margin: 5px;

            &:hover, &.active {
                background-color: #eff3f6;
                background-image: linear-gradient(-180deg, #eeeeee 0%, #e9e9e9 90%);
                box-shadow: 0 1px 15px rgba(27,31,35,0.15);
                border: 1px solid rgba(27, 31, 35, 0.5);
                transform: scale(1.035);
            }
        }
    }

    /* Import button. */
    .import-button {
        width: 50%;
        margin-top: 30px;
        align-self: center;
    }
}
